body {
    background-image: linear-gradient(to top, #fd1840, #ff4a6f, #ff7098, #ff92bb, #ffb1d7);
}

.container-fluid {
    height: 100vh;
}



.dice-img-join {
    border-radius: 30px;
    height: 120px;
    width: 120px;
}

.button-group {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.player-box {
    height: 40vh;
    
}

.current-box{
    background-color: coral;
    border-radius: 30px;
    
}

.current-text{
    background: transparent;
}

.current-score-box{
    position: relative;
    background-color: white;
    border-radius: 30px;
}

.current-box-line{
   position: relative;
}

.double-mini-icon-box{
    position: absolute;
    top: 6px;
    right: 550px;
}

.double-button-box{
    position: absolute;
    top: 0px;
    right: 5px;
    
}

.double-button-img{
    width: 38px;
    height: 38px;
    border-radius: 11px;
}

input{
    background-color:rgba(0,0,0,0) !important;
    border-radius: 30px;
  
 }

 .opacity {
     opacity: 0.5;
 }

.dice-img{
    border-radius: 25px;
    width: 75px;
    height: 75px;
}

.double-mini {
    border-radius: 7px;
    width: 20px;
    height: 20px;
    
}

  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
   
    background-color: transparent !important;
    text-align-last:center; 
  }
  

  select option {
      background: #ff4a6f;
      text-align: center;
  }


.link-done-icon {
    width: 20px;
    height: 20px;
}

.double-button-box{

}

.rules-img {
    border-radius: 6px;
    width: 35px;
    height: 35px;
}







.flash {
    -moz-animation: blink normal 0.5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 0.5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal  0.5s infinite ease-in-out; /* IE */
    animation: blink normal  0.5s infinite ease-in-out; /* Opera and prob css3 final iteration */
    animation-iteration-count: 3;
}

@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
 
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

/*
Fade in
*/

.fadein{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
            transform: rotateX(360deg);
            	
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
