body {
    background-image: linear-gradient(to top, #fd1840, #ff4a6f, #ff7098, #ff92bb, #ffb1d7);
}

.container-fluid {
    height: 100vh;
}



.dice-img-join {
    
    height: 270px;
    width: 270px;
}

.button-group {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.player-box {
    height: 40vh;
}

.current-box{
    background-color: coral;
    border-radius: 30px;
}

.current-score-box{
    background-color: white;
    border-radius: 30px;
}

input{
    background-color:rgba(0,0,0,0) !important;
    border-radius: 30px;
  
 }

 .opacity {
     opacity: 0.5;
 }

.dice-img{
    width: 70px;
    height: 70px;
}

/*
Fade in
*/

.fadein{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
            transform: rotateX(360deg);
            	
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
